.main{
	-webkit-user-select: none;
	cursor: pointer;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	background-color:#FFFFFF;
	top: 10%;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-right: 5%;
	padding-left: 5%;
	border-radius: 4px;
	border: 1px solid #DCDCDC;
	display:none;
		
}