@font-face{
	font-family: Segoe Print; /* имя шрифта для CSS правил */
	src: local("Segoe Print"), /* проверяем наличие шрифта в ОС пользователя */
    url(../fonts/Segoe-Print.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}
@font-face{
	font-family: WhisperWrite; /* имя шрифта для CSS правил */
	src: local("WhisperWrite"), /* проверяем наличие шрифта в ОС пользователя */
    url(../fonts/WhisperWrite_Medium.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}
@font-face{
	font-family: a_AlbionicTitulInfl; /* имя шрифта для CSS правил */
	src: local("a_AlbionicTitulInfl"), /* проверяем наличие шрифта в ОС пользователя */
    url(../fonts/a_AlbionicTitulInfl_Bold.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}
body{
	padding-top:2%;
	padding-bottom:2%;
	background:url(../img/background-image.jpg);
}
a{
	text-decoration: none;
	&:visited {
	    color: black; 
	}
	&:active {
		text-decoration: none;
	    color: black; 
	}
	&:hover{
		text-decoration: none;
	}
}
@import "button";
@import "frame";
@import "main-menu";
@import "error";
@import "image";
@import "string";
@import "record-list";
@import "lobby";
@import "letter";
@import "loading2";
@import "question";
@import "input";
@import "table";
@import "div-timer";
@import "block-main";
@import "main-form";
@import "result";