.question{
	&__img{
		margin-top: 0;
		box-shadow: 0 0 20px rgba(0,0,0,0.5);
		height:200px;
		width:200px;
		border-radius: 4px;
		margin: 0 auto;
		display: block;
	}
	&__field{
		margin-bottom: 1%;
	}
}