.record-list{
	background-image: url(../img/blue-line.svg), url(../img/red-line.svg); 
    background-size: 100vw 30px, 32px 32px;
    background-repeat: repeat, repeat-y;
    background-position: 0 0, 364px 0;
    font: 200%/1.5 Bradley Hand, Segoe Script, cursive; 
    margin-left: 0px; margin-right: 0px; 
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
};